<!-- PAGINA -->
<div class="page fondo">

<!-- TITULO -->
    <div class="conten-titulo bg-red">
        <h1 class="texto-titulo-2">Lista de la compra</h1>
    </div>

<!-- BTN-AÑADIR -->
    <div class="btn-add bg-yellow">
        <div class="caja-btn-add">
            <button type="button" (click)="addItem()"><p>+</p></button>
        </div>
    </div>

 <!-- IMPORTE COMPRA  -->
    <form [formGroup]="addGastoCompraForm">
        <div class="conten-importe">
            <div class="form-group">
                <div class="importe-compra">
                    <input type="text" placeholder="Ingrese el importe" formControlName="compra" [ngClass]="{'is-invalid': (addGastoCompraForm.get('compra').dirty || addGastoCompraForm.get('compra').touched) && !addGastoCompraForm.get('compra').valid}">
                    <div *ngIf="!addGastoCompraForm.get('compra').valid" class="invalid-feedback text-center">El importe es necesario</div>
                </div>
            </div>
            <div class="form-group">
                <button  (click)="addGastoCompra()">Añadir a gastos</button>
            </div>    
        </div>
    </form>
    
<!-- LISTA ITEMS -->
    <div class="caja-blanca" >
        <div class="cards" *ngFor="let item of items" >
            <app-card-lista-compra [info]="item" (alertaItem)="deleteByIdProduct2($event)" (onChangeCheckState)="getChecked($event)"></app-card-lista-compra>
        </div>
    </div>
    
    
</div>