/*----------FONDO-------------*/
.fondo{
    height: 100vh;
    background-color: var(--background-color);
}

/*----------TITULO-------------*/
.conten-titulo{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-titulo-2{
    font-size: 30px;
    font-weight: bold;
}

/*----------FORMULARIO-------------*/
.caja-blanca{
    height: 350px;
}
.conten-form{
    width: 100%;
    height: 400px;
    padding: 10px;    
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 3px 2px #d3d2d2;      
}
.caja-blanca{
    margin-top: 10%;

}
.form-registro{
    width: 100%;
    height: 45vh;
    display: flex;
    padding: 10px;     
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

/*----------INPUTS-------------*/
.form-registro input{
    margin-bottom: 20px;  
}

/*----------CHECKBOX-------------*/
.conten-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    margin: 10px;
}

.conten-checkbox label{
    margin-left: 10px;
}

/*----------BOTONES-------------*/
.conten-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-registro{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 20px 20px 20px;
    
}

.button-cancelar{
    background: none;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
}
