/*----------FONDO-------------*/
.fondo{
    height: fit-content;
    background-color: var(--background-color);
}

/*----------TITULO-------------*/
.conten-titulo{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-titulo-2{
    font-size: 30px;
    font-weight: bold;
}

/*----------FORMULARIO-------------*/
.caja-blanca{
    height: fit-content;
}

.conten-form{
    width: 100%;
    height: fit-content;
    padding: 10px;    
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 3px 2px #d3d2d2;
}

.form-registro{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 10px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

/*----------INPUTS-------------*/
.form-registro input{
    margin-top: 20px;
    width: 100%;  
}

/*----------CHECKBOX-------------*/
.conten-checkbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    margin: 10px;
}

.conten-checkbox input{
    width: fit-content;
}

.conten-checkbox label{
    width: fit-content;
    margin-left: 10px;
}

/*----------BOTONES-------------*/
.conten-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-registro{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 20px 20px 20px;
}

.button-cancelar{
    background: none;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
}
.registroRealizado{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
.text-link{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bolder;
    margin-left: 3px;
}