<!-- PAGINA -->
<div class="page fondo">
<!-- TITULO -->
    <div class="conten-titulo bg-red">
        <h1 class="texto-titulo-2">Regístrate</h1>
    </div>
<!-- FORMULARIO -->
    <div class="conten-form caja-blanca">
        <form class="form-registro" action="">
            <input type="text" placeholder="Introduce tu nombre">
            <input type="email" placeholder="Introduce tu email">
            <input type="password" placeholder="Introduce un password">
            <input type="password" placeholder="Repite el password">
<!-- CHECKBOX -->
            <div class="conten-checkbox">
                <input type="checkbox" id="terminos" name="terminos" value="Bike">        
                <label for="terminos">Acepto términos y condiciones</label>
            </div>
<!-- BOTONES -->
            <div class="conten-button">
                    <button class="button-registro" routerLink="/login">Confirmar</button>
                    <button class="button-registro button-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>