<div class="page">
    <div class="caja-blanca">

        <div class="text-subt fila">
                
                <span class="titulo">
                    <b>{{event.title}}</b>
                </span>

                <span class="controls">
                    <mat-icon (click)="delete()">cancel</mat-icon>
                </span>

            <br>
        </div>

        <div>
            <span class="texto-gral">{{event.date}}</span>
            <br>
            <br>
            
        </div>

        <div>
            <span class="text-subt">{{event.description}}</span>
            
        </div>

    </div>
</div>