.page{
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 5%;
}

.caja-blanca{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%
}


.fila{
    display: flex;
    justify-content: space-between;
}
.controls{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 5px;
}.titulo{
    width: 50%;
}

mat-icon:active{
    transform: scale(0.8);
}