<div class="page">
    <p class="texto-titulo">
        Division de gastos
    </p>



    <ng-container *ngFor="let transaction of transactions">

        <div class="caja-blanca">

            <div class="fila">

                <div class="columna text-subt">

                    <div class="fila transaction_direction">
                        <span>{{transaction.pagador.nombre}}</span>
                        <mat-icon>trending_flat</mat-icon>
                        <span>{{transaction.cobrador.nombre}}</span>
                    </div>

                </div> 
            
                <div class="columna transaction_value">
                    {{transaction.value}}
                </div>
            
            </div>

            <div class="fila">
                    <button (click)="confirm(transaction)">Confirmar pago</button>
            </div>
        </div>
    
        </ng-container>

    </div>

