<div class="page">
    <p class="texto-titulo">
        Division de gastos
    </p>



    <ng-container *ngFor="let transaction of transactions">

        <div class="caja-blanca">

            <div class="fila">

                <div class="columna text-subt">
                    <span>{{transaction.pagador.nombre}}</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                    <span>{{transaction.cobrador.nombre}}</span>
                </div> 
            
                <div class="columna texto-titulo">
                    {{transaction.value}}
                </div>
            
            </div>

            <div class="fila">
                    <button (click)="confirm(transaction)">Confirmar pago</button>
            </div>
        </div>
    
        </ng-container>

    </div>

