<div class="page">
    <p class="texto-titulo">
        Division de gastos
    </p>

    <div class="caja-blanca">
        <table>
            <tr>
                <td>User1</td>
                <td>Barra</td>
                <td>-50$</td>
            </tr>       
            
            <tr>
                <td>User2</td>
                <td>Barra</td>
                <td>+75$</td>
            </tr>    
            
            <tr>
                <td>User3</td>
                <td>Barra</td>
                <td>-25$</td>
            </tr>
        </table>
    </div>

    <ng-container *ngFor="let transaction of transactions">

        <div class="caja-blanca">

            <div class="fila">

                <div class="columna text-subt">
                    <span>{{transaction.pagador.nombre}}</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                    <span>{{transaction.cobrador.nombre}}</span>
                </div> 
            
                <div class="columna texto-titulo">
                    {{transaction.value}}
                </div>
            
            </div>

            <div class="fila">
                    <button (click)="confirm()">Confirmar pago</button>
            </div>
        </div>
    
        </ng-container>

    </div>

