<div class="footer1" *ngIf="!hrefIsLogin()">
   <div class="conten-imgs">

      <div class="caja">
         <a routerLink="/tareas">
            <mat-icon [ngClass]="hrefIsTasks() ?  'active' : ''">assignment
            </mat-icon>
         </a>
         <p class="text-navbar">Tareas</p>
      </div>

      <div class="caja">
         <a routerLink="/gastos">
            <mat-icon [ngClass]="hrefIsSpents() ?  'active' : ''">attach_money
            </mat-icon>
         </a>
         <p class="text-navbar">Gastos</p>
      </div>

      <div class="caja">
         <a routerLink="/">
            <mat-icon [ngClass]="hrefIsHome() ?  'active' : ''" fontIcon="home">
            </mat-icon>
         </a>
         <p class="text-navbar">Home</p>
      </div>

      <div class="caja">
         <a routerLink="/lista-compra">
            <mat-icon [ngClass]="hrefIsShopping() ?  'active' : ''">
               local_grocery_store</mat-icon>
         </a>
         <p class="text-navbar">Compra</p>
      </div>

      <div class="caja">
         <a routerLink="/calendario">
            <mat-icon [ngClass]=" hrefIsCalendar() ?  'active' : ''">date_range</mat-icon>
         </a>
         <p class="text-navbar">Calendario</p>
      </div>
   </div>
</div>