<!-- PAGINA -->
<div class="page fondo">
    <!-- TITULO -->
            <div class="conten-titulo bg-red">
                <h1 class="texto-titulo-2">{{user.username}}</h1>
            </div>
    <!-- AVATAR USUARIO -->
        <div class="conten-avatar-gr">
            <div class="avatar-gr">
                <p>{{user.username[0]}}</p>
            </div>
        </div>
    <!-- BTN-EDITAR -->
        <div class="btn-editar">
            <button (click)="editUser()"><mat-icon>create</mat-icon></button>
        </div>
    <!-- FORMULARIO -->
        <div class="conten-datos caja-blanca">
            <form class="form-registro">
    
                <div class="conten-inputs">
                    <label for="">Nombre:</label>
                    <p class="text-subt">{{user.username}}</p>
                    <label for="">Email:</label>
                    <p class="text-subt">{{user.email}}</p>
                    <label for="">Tipo:</label>
                    <p class="text-subt">{{user.type}}</p>
                </div>
    
  
    <!-- BTN ELIMINAR PERFIL -->
                <div class="conten-button">
                    <button class="button-eliminar" (click)="deleteUserById()">Eliminar perfil</button>
                </div>
            </form>
        </div>
    </div>