/*----------FONDO-------------*/
.fondo{
    height: 100vh;
    background-color: var(--background-color);
}

/*----------TITULO-------------*/
.conten-titulo{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.texto-titulo-2{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

/* ---------INICIAL USUARIO-------- */
.conten-inicial-usuario{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.conten-inicial{
    background-color: rgb(138, 29, 160);
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 5px;    
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 2px 4px 4px #d3d2d2,
    inset 0 0 15px 0 rgba(0, 0, 0, 0.144); 
}

/*----------BTN-EDITAR-------------*/
.btn-editar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-editar button{
    height:35px;
    background: none;
    border: none;
    border-radius: 0px;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.mat-icon{
    font-size: 35px;
    height: auto;
    width: auto;
    /* background-color: aqua; */
}
.mat-icon:active{
    color: var(--accent-color);
    transform: scale(0.8);
}
/*----------FORMULARIO-------------*/
.conten-datos{
    background-color: chartreuse;
    width: 100%;
    height: fit-content;
    padding: 12px;    
    border-radius: 4px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 3px 2px #d3d2d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-registro{
    width: 100%;
    height: fit content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    line-height: 30px;
}

.conten-inputs{
    padding-left: 30px;
}

/*----------BTN ELIMINAR PERFIL-------------*/

.conten-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-eliminar{
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    background: none;
    color:crimson;
    font-weight: bolder;
}
.button-eliminar:active{
    transform: scale(0.8);
}