<div class="page fondo">

    <div class="conten-titulo">
        <h1 class="texto-titulo-2">¿Que quieres hacer?</h1>
    </div>

    <div class="conten-form caja-blanca">
        <button type="button" class="btn-hogar texto-titulo btn-crear">Crear hogar</button>
        <button type="button" class="btn-hogar texto-titulo button--secondary btn-unirte">Unirte con código</button>

        <div class="conten-button">
            <button type="button"
            class="button-cancelar">CANCELAR</button>
        </div>
    </div>

</div>