<div class="header1" *ngIf="!hrefIsLogin()">

    <div class="header1_1" (click)="navigate('ajustes')">
        <img src="../../../assets/img/herramientas.png" 
            [ngClass]="hrefIsSettings() ? 'active' : ''">
    </div>

    <div class="header1_2">
        <img src="../../../assets/img/MagicHouse-logo-transparente-png.png">
    </div>

    <div class="header1_3" (click)="navigate('perfil')">
        <img src="../../../assets/img/perfil.png"
            [ngClass]="hrefIsProfile() ? 'active' : ''">
    </div>

</div>

