<div class="page">
    <p class="texto-titulo">Nuevo evento</p>

    <img src="../../../assets/img/calendario.png">

    <div class="caja-blanca">
        <form>
            <div class="inputs">
                <input type="text" placeholder="Titulo">
                <input type="date" placeholder="Fecha">
                <input type="text" placeholder="Descripcion">
                <select>
                    <option value="Avisos">AVISOS</option>
                </select>
                <select>
                    <option value="Participantes">PARTICIPANTES</option>
                </select>
            </div>

            <div class="buttons">
                <button>Añadir evento</button>
                <button>Cancelar</button>
            </div>
        </form>
    </div>
</div>