<!-- PAGINA -->
<div class="page fondo">

 <!-- TITULO -->
        <div class="conten-titulo bg-red">
            <h1 class="texto-titulo-2">Ajustes</h1>
        </div>
 <!-- SUB-TITULO -->
        <div class="conten-subtitulo">
            <label for="">Nombre de la casa: </label>
            <h2 class="texto-titulo-3">"La Madriguera"</h2>
            <label for="">Código de la casa:</label>
            <p>FLX-1495</p>
        </div>
    
<!-- ZONA MIEMBROS -->
        <div class="caja-blanca">
            <h2 class="texto-titulo-3">Miembros de la casa</h2>

<!-- LISTA MIEMBROS GRUPO-->
            <div class="conten-miembros" >
                <ng-container *ngFor="let miembro of users">
                    <app-card-setting [info]="miembro" (onDeleteUser)="deleteUser2($event)"></app-card-setting>
                </ng-container>
                


            </div>

        </div>    
