<!-- PAGINA -->
<div class="page fondo">

<!-- TITULO -->
    <div class="conten-titulo bg-red">
        <h1 class="texto-titulo-2">Presupuesto</h1>
    </div>

<!-- IMPORTE PRESUPUESTO-->
    <div class="importe bg-blue">
        <div class="conten-input">
            <input readonly type="number" value="5000">
            <button type="button" (click)="editarPresu()"><mat-icon>create</mat-icon></button>
        </div>
    </div>

<!-- BTN-AÑADIR -->
    <div class="btn-add bg-yellow">
        <div class="caja-btn-add">
            <button type="button" ><p>+</p></button>
        </div>
    </div>

<!-- LISTA GASTOS -->
    <div class="caja-blanca">
        <div class="cards" *ngFor="let gasto of gastos">
            <app-card-presu [info]="gasto"></app-card-presu>
        </div>
    </div>    



    
<!-- card hardcoded -->
<!-- <div class="conten-gasto">
    <div class="gasto-titulo">
        <p>Luz</p>
    </div>
    <div class="gasto-cifras">
        <div class="gasto-importe">
            <p>50€</p>
        </div>
        <div class="gasto-saldo">
            <p>200€</p> 
        </div>
    </div>
</div> -->