.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2%;

    width: 100%;
    height: 100%;
}
.texto-titulo{
    text-align: center;
}
.caja-blanca{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 70vh;

}

.text-subt{
    width: 100%;
    text-align: center;
}

.percent{
    /* position: absolute;
    bottom: 3;*/
    z-index: 1;
    transform: translateY(20%);
    font-size: 32px;
    font-weight: bolder;
}

.spinner {
    transform: scale(1.5);
}

button{
    width: 100%;
    height: 30px;
    padding: 2%
}