<!-- PAGINA -->
<div class="page fondo">

    <div class="texto-titulo">
        <p>Presupuesto</p>
    </div>

    <div class="caja-blanca">
        <div>
            <p class="text-subt"><b>Presupuesto mensual: </b>{{budget}}</p>
            <p class="text-subt"><b>Presupuesto restante: </b>{{remaining}}</p>
        </div>
        
            <mat-spinner class="spinner" [mode]="'determinate'" [value]="value"></mat-spinner>
            <p class="text-subt percent">{{value}} %</p>

    </div>    
    <button (click)="postBudget()">Modificar presupuesto mensual</button>
