<div class="page">
    <table>
        <tr>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
        </tr>
        <tr>
            <td>
                x
            </td>
            <td>
                x
            </td>
            <td>
                x
            </td>
            <td>
                x
            </td>
            <td>
                x
            </td>
            <td>
                x
            </td>
            <td>
                {{primerDiaMes}}
                x
            </td>
        </tr>


    </table>
</div>
