
    <button>Semana</button>
    <button>Mes</button>
    <br>
    <button (click)="changeMonth(-1)">&lt;</button>
    {{daySelected | date: 'MMMM yyyy'}}
    <button (click)="changeMonth(+1)">&gt;</button>



  <div class="calendar">

    <ng-container *ngFor="let dia of dias_semana">
        <p>{{dia | slice:0:3}}</p>
    </ng-container>

    <ng-container *ngFor="let day of dateSelected">

        <div [ngClass]="day.weekDay == -1 ? ['dia', 'dia--disabled'] : 'dia'" (click)="showEvent(day)">
            <div [ngClass]="day.events ? ['dia', 'dia--event']: 'dia'">{{day.value}}</div> 
        </div>

    </ng-container>



  </div>
