
.caja-blanca{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 15vh;

    padding-left: 15px;
    padding-right: 15px;
}

.spent_data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 70%;

    
}.spent_value{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 30%;
}

p{
    margin:0
}