.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 35vh;

    padding: 10px;

}
.fila{
    display: flex;
    justify-content: space-between;
}

.button-popup{
    padding-left: 20px;
    padding-right: 20px;
}

.button-cancelar{
    background: none;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
}