.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 35vh;

    color: var(--primary-color);

    padding: 2%
}
.fila{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 5px;
    width: 50%;
}

.button-cancelar{
    background: none;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
}