.page{
    display: flex;
    justify-content: space-around;
    gap: 5px;

    padding: 5px;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
}