<div class="page">
    <div class="texto-titulo texto-titulo--pagina">
        Gastos
    </div>

    <div class="top-area">
        <button class="button-add">
            +
        </button>
    </div>

    <div class="caja-blanca">
        <div class="texto-titulo">
         Luz
        </div>
 
        <div class="texto-gral">150$</div>
     </div>
     
     <div class="caja-blanca">
        <div class="texto-titulo">
         Agua
        </div>
 
        <div class="texto-gral">150$</div>
     </div>

     <div class="caja-blanca">
        <div class="texto-titulo">
         Gas
        </div>
 
        <div class="texto-gral">150$</div>

     </div>

     <div class="caja-blanca">
        <div class="texto-titulo">
         Internet
        </div>
 
        <div class="texto-gral">150$</div>
     </div>

     <div class="caja-blanca">
        <div class="texto-titulo">
         Comida
        </div>
 
        <div class="texto-gral">150$</div>
     </div>

     <div class="caja-blanca">
        <div class="texto-titulo">
         Etc
        </div>
 
        <div class="texto-gral">150$</div>
     </div>

     <button class="btn_abajo">Resumen</button>
</div>