.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.texto-titulo--pagina{
    text-align: center;
    color: black;
}
.caja-blanca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 10vh;
}

.top-area{
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.btn_abajo{
    width: 100%;
    height: 30px;
}

.importe p:first-child{
    color: red
}
.importe p:first-child::before{
    content: '-'
}
.importe p{
    margin: 2px
}

.cards{
    width: 100%;
}