<div class="page">
    <div class="texto-titulo texto-titulo--pagina">
        Gastos
    </div>

    <div class="top-area">
        
        <div class="buttons">
            <button class="btn_abajo" (click)="navigate('resumen-gastos')">Resumen</button>
            <button class="btn_abajo" (click)="navigate('presupuesto')">Presupuesto</button>
        </div>

        <div class="caja-btn-add" (click)="navigate('nuevo-gasto')">
            <button type="button">
                <p>+</p>
            </button>
        </div>

    </div>

   <div class="cards" *ngFor="let gasto of gastos">
      <app-card-gasto [info]="gasto"></app-card-gasto>
   </div>

</div>