.page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.page > img{
    width: 50px;
}

.caja-blanca{
    width: 100%;
    height: 70%;

    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
