
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 90vh;
}

.form{
    display: flex;
    flex-direction: column;

    gap: 10%;

    height: 80%;
    width: 80%;

    /* border: 1px solid blue; */
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px
}