<main class="page">
    <figure>
        <img src="../../../assets/img/MagicHouse-transparente-logo-png.png" alt="Logo Magic house">
    </figure>

    <form class="form" #loginForm="ngForm" (ngSubmit)="login()">

        <div class="inputs">

            <input type="text" placeholder="Nombre de usuario" name="username"
                [ngClass]="{'is-invalid': username.invalid && username.touched}" [(ngModel)]="user.username" #username="ngModel" required>
            
                <div class="invalid-feedback" *ngIf="username.invalid">
                    <p *ngIf="username.errors?.['required']">Introduce tu nombre de usuario</p>
                </div>

            <input type="password" placeholder="Password" name="password" 
                [ngClass]="{'is-invalid': password.invalid && password.touched}" [(ngModel)]="user.password" #password="ngModel" required>

                <div class="invalid-feedback" *ngIf="password.invalid">
                    <p *ngIf="password.errors?.['required']">Introduce tu password</p>
                </div>    

            
        </div>

        <div class="buttons">

            <button>Login</button>
            <button type="button" class="button--secondary" (click)="register()">Registrate</button>
            
        </div>

    </form>

    
</main>