<div class="page">
    <p class="texto-titulo">Nuevo gasto</p>

    <div class="caja-blanca">

        <form class="form">
            <div class="inputs">

                <input type="text" placeholder="Nombre del gasto">
                <input type="text" placeholder="Importe">
                <input type="text" placeholder="Usuario">
                <input type="date" placeholder="fecha">
            </div>

            <div class="buttons">
                <button>Crear gasto</button>
            </div>
        
        </form>
    
    </div>
</div>