<div class="app">

    <div class="header">
        <app-header></app-header>
    </div>

    <div class="contenido">

        <!-- <router-outlet></router-outlet> -->

        <!-- <app-home></app-home> -->
        <!-- <app-registro></app-registro> -->
        <!-- <app-resumen-gastos></app-resumen-gastos> -->
        <!-- <app-presupuesto></app-presupuesto> -->
        <!-- <app-lista-compra></app-lista-compra> -->
        <app-perfil></app-perfil>

    </div>
    <app-footer></app-footer>
</div>