.app{
    display: flex;
    flex-direction: column;

}

.header{
    height: var(--header-height);
    position: fixed;
    top: 0px
}

.contenido{
    overflow-x: scroll;
    width: 100vw;
    margin-top: var(--header-height);
    height: calc(99vh - var(--header-height) - var(--footer-height));
}

.footer{
    height: var(--footer-height);

    position: fixed;
    bottom: 0px
}