.app{
    display: flex;
    flex-direction: column;
}

.header{
    height: var(--header-height);
    position: fixed;
    top: 0px
}

.contenido{
    overflow-x: scroll;
    width: 100vw;

    padding-top: calc(var(--header-height) + 10px);
    padding-bottom: calc(var(--footer-height) + 10px);

    /* height: calc(99vh - var(--header-height) - var(--footer-height) - 20px);  */
    height: 100%;
}

.footer{
    height: var(--footer-height);
    position: fixed;
    bottom: 0px
}