.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 2%;

  height: 100%;
  width: 100%;
}

.caja-btn-add{
  align-self: flex-end;
}
.caja-blanca{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;

  overflow: scroll;
}

app-table-tareas{
  height: 100%;
}