/* ---------- CARD LISTA COMPRA ----------*/
.conten-item{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--primary-color);
    padding: 5%;
    box-sizing: content-box;
    line-height: 30px;

}

/* ---------- TITULO ----------*/
.item-titulo{
    width: 80%;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------- CONTENEDOR BUTTONS ----------*/
.conten-item-btn{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* ---------- BUTTON ELIMINAR ----------*/
.conten-item-btn button{
    /* height: initial; */
    background: none;
    border: none;
    border-radius: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------- BUTTON CHECK ----------*/
