<!-- CARD -->
<div class="conten-item">
<!-- CARD TITULO -->
    <div class="item-titulo">
        <p>{{info.productname}}</p>
    </div>
<!-- CARD BTN -->
    <div class="conten-item-btn">

        <button on-click=deleteByIdProduct(info.id_product)><mat-icon class="remove_circle">remove_circle_outline</mat-icon></button>

        <button><mat-icon class="check_box">check_box</mat-icon></button> 

        <button><mat-icon class="check_box_blank check_box_display">check_box_outline_blank</mat-icon></button>

    </div>
</div>