<div class="page">

    <p class="texto-titulo">Notificaciones</p>

    <div class="caja-blanca">

        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/escoba.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1 >Titulo de la notificacion</h1>
                <p class="texto-gral">contenido dszgsfdg sdghsdiog sdifhusi9duf dasifguds</p>
            </div>

        </div>

    </div>
    
    <div class="caja-blanca">
        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/calendario.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1>Titulo de la notificacion</h1>
                <p class="texto-gral">contenido</p>
            </div>

        </div>
    </div>

    <div class="caja-blanca">
        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/escoba.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1>Titulo de la notificacion</h1>
                <p class="texto-gral">contenido</p>
            </div>

        </div>
    </div>

    <div class="caja-blanca">
        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/escoba.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1>Titulo de la notificacion</h1>
                <p class="texto-gral">contenido</p>
            </div>

        </div>
    </div>

    <div class="caja-blanca">
        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/calendario.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1>Titulo de la notificacion</h1>
                <p class="texto-gral">contenido</p>
            </div>

        </div>
    </div>

    <div class="caja-blanca">
        <div class="notificacion">
            
            <div class="notificacion__icono">
                <img src="../../../assets/img/escoba.png">
            </div>
            
            <div class="notificacion__contenido">
                <h1>Titulo de la notificacion</h1>
                <p class="texto-gral">contenido</p>
            </div>

        </div>
    </div>
</div>

