<div class="page">

    <p class="texto-titulo">Notificaciones</p>

    <ng-container *ngIf="nextEvent">
        <p>Proximo evento</p>

        <app-card-home [info]="nextEvent"></app-card-home>
    </ng-container>
    
    <ng-container *ngIf="pendingTasks.length > 0">
        <p>Tareas pendientes</p>

        <ng-container *ngFor="let task of pendingTasks">

            <app-card-home [info]="task"></app-card-home>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="!nextEvent">
        <p>* No hay notificaciones *</p>
    </ng-container>
    

    
</div>

