.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.caja-blanca{
    height: 15vh;
    padding: 2%;
}

.notificacion{
    display: flex;
    align-items: center;
    gap: 5%;

    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}

.notificacion__icono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 75px;
    height: 100%;

}

.notificacion__icono img{
    width: 100%;
}

.notificacion__contenido{
    display: flex;
    flex-direction: column;

    height: 100px;
    width: calc(95% - 100px);
}

.texto-titulo{
    text-align: center;
}