/* You can add global styles to this file, and also import other style files */
:root{
    --background-color: #E6E6E6;/*borré el repe. Manu*/
    --primary-color: #297373;
    --secondary-color : #454545;/*agregué el gris oscuro. Manu*/
    --white-color : #FBFBFB;/*agregué blanco caja-blanca. Manu*/
    --accent-color: #FFCE4F;
    --header-color: #A6CBC2;
    --header-height: 45px;
    --footer-height: 50px;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body { 
    height: 100%;
    color: var(--primary-color) 
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
} 

.page{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: var(--header-height) ;/*cambié y dejé la altura del header*/
    padding-bottom: calc (var(--footer-height) + 10px);
}

.texto-gral{
    font-size: 16px;
    font-weight: light;
}
.texto-titulo{
    font-size: 30px;
    font-weight: bold;
}
.text-subt{
    font-size: 22px;
    font-weight: light;
}
.text-navbar{
    font-size: 12px;
    font-weight: medium;
    color: var(--background-color);/*agregué color. Manu*/
}
.texto-peq{
    font-size: 10px;
}



button{
    height: 30px;

    background: var(--primary-color);

    border: var(--primary-color);
    border-radius: 3px;

    color: white;
    font-weight: medium;
}

button:active{
    color: var(--accent-color)
}

.button--secondary{
    background: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 3px;
}
.button--secondary:active{
    border: 3px solid var(--accent-color);
    color: var(--primary-color)
}

/*
Boton cuadrado de anadir
*/
.button-add{
    width: 50px;
    height: 50px;

    border-radius: 3px;
}



input, select{
    padding: 2%;
    padding-bottom: 2px;

    background-color: transparent;
    
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;

    outline:none;

    border: none;
    border-bottom: 3px solid var(--primary-color);
}

input:focus{
    animation: input 1s forwards;
}

@keyframes input {

    to {
        border-bottom: 3px solid var(--accent-color);
    } 

}

.caja-blanca{
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 3px 2px #d3d2d2;
}

.footer-selected{
/*para poner en navbar de pagina seleccionada(icono y palabra)*/
    color:var(--accent-color);
}

/* -------------BTN-ADD-------------- */

/* 
<div class="caja-btn-add">
    <button type="button"><p>+</p></button>
</div> 
*/

.caja-btn-add{
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 3px 2px #d3d2d2;
}
.caja-btn-add button{
    width:100%;
    height:100%
}
.caja-btn-add p{
    color: var(--background-color);
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

/* ---------AVATAR USUARIO GR(GRANDE) - PAG: PERFIL-------- */

/*
<div class="conten-avatar-gr">
    <div class="avatar-gr">
        <p>P</p>
    </div>
</div>
*/

.conten-avatar-gr{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar-gr{
    background-color: rgb(133, 14, 156);
    width: 100px;
    height: 100px;
    font-size: 50px;
    padding-top: 15px;    
    margin-bottom: 30px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 2px 4px 4px #d3d2d2,
    inset 0 0 15px 0 rgba(0, 0, 0, 0.144); 
}

/* ---------AVATAR USUARIO MD(MEDIO) - PAG: AJUSTES-------- */

/*
<div class="conten-avatar-usuario-md">
    <div class="avatar-md">
        <p>J</p>
    </div>
</div>
*/

.conten-avatar-usuario-md{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.avatar-md{
    background-color: rgb(138, 29, 160);
    width: 50px;
    height: 50px;
    padding-top: 7px;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 1px 2px 2px #d3d2d2,
    inset 0 0 7px 0 rgba(0, 0, 0, 0.144); 
}

/* ---------AVATAR USUARIO PQ(PEQUEÑO) - PAG: TAREAS-------- */

/*
<div class="conten-avatar-usuario-pq">
    <div class="avatar-pq">
        <p>J</p>
    </div>
</div>
*/

.conten-avatar-usuario-pq{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
}

.avatar-pq{
    background-color: rgb(138, 29, 160);
    width: 30px;
    height: 30px;
    padding-top: 10px;
    font-size: 12px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 1px 1px #d3d2d2;
}