/* You can add global styles to this file, and also import other style files */
:root{
    --background-color: #E6E6E6;
    --background-color: #E6E6E6;
    --primary-color: #297373;
    --accent-color: #FFCE4F;
    --header-color: #969696;
    --header-height: 60px;
    --footer-height: 50px;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body { 
    height: 100%;
    color: var(--primary-color) 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 

.page{
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: calc(var(--header-height) + 10px);
    padding-bottom: calc (var(--footer-height) + 10px);
}

.texto-gral{
    font-size: 16px;
    font-weight: light;
}
.texto-titulo{
    font-size: 30px;
    font-weight: medium;
}
.text-subt{
    font-size: 22px;
    font-weight: light;
}
.text-navbar{
    font-size: 12px;
    font-weight: medium;
}
.texto-peq{
    font-size: 10px;
}

input{
    padding: 2%;
    padding-bottom: 2px;
    
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;

    outline:none;

    border: none;
    border-bottom: 3px solid var(--primary-color);
}

button{
    height: 30px;

    background: var(--primary-color);

    border: var(--primary-color);
    border-radius: 3px;

    color: white;
    font-weight: medium;
}
button:active{
    color: var(--accent-color)
}

.button--secondary{
    background: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 3px;
}
.button--secondary:active{
    border: 3px solid var(--accent-color);
    color: var(--primary-color)
}

input:focus{
    animation: input 1s forwards ;
}

@keyframes input {
    to {
        border-bottom: 3px solid var(--accent-color);
    } 
}