.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;

    width: 100%;
    height: 100%;
}

table{
    width: 100%;
    height: 100%; 
}
th{
    text-align: center;
    /* padding: 10px; */
}
td{
    padding: 7px;
}
.tr_tareas{
    height: 10%;
}

tr:first-child > th{

    height: 2%;

}
.sin-avatar{
    width: 30px;
    height: 30px;
    color: var(--white-color);
    background-color: var(--white-color);
           
    border-radius: 50%;
    border: 2px dashed var(--background-color)
}
.sin-avatar:after{
    content:'';
    position: relative;
    top: 15%;
    left: -15%;
    font-size: 30px;
    color: var(--background-color);

}
.avatar-pq{
    padding:0
}
.done{
    border: 2px solid rgb(10, 163, 10)
}
.done::after{
    content: 'hecho';
    color: white;

    text-shadow:
    -1px -1px 0 rgb(10, 163, 10),  
    1px -1px 0 rgb(10, 163, 10),
    -1px 1px 0 rgb(10, 163, 10),
    1px 1px 0 rgb(10, 163, 10);
  

    transform: rotate(-45deg);

}