<div class="page">
    <table>
        <tr>
            <th></th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
            <th>Dom</th>
        </tr>

        <ng-container *ngFor="let tarea of tareas; let i = index">

            <!-- <tr class="tr_tareas">
                <th>{{tarea[i].taskname}}</th> -->

                <!-- <td (click)="openDialog(L, tarea)" #L>

                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>
                <td (click)="openDialog(M, tarea)" #M>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(X, tarea)" #X>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(J,tarea)" #J>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(V, tarea)" #V>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(S, tarea)" #S>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(D, tarea)" #D>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>-->

            <!-- </tr>  -->
</ng-container>
    </table>

</div>