<div class="page  caja-blanca">
    <table>
        <tr>
            <th></th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
            <th>Dom</th>
        </tr>

        <ng-container *ngFor="let tarea of tareas">

            <tr class="tr_tareas">
                <th>{{tarea.taskname}}</th>
             
                <ng-container *ngFor="let clave of tarea.asignacion">
                       
                        <td *ngIf="clave.username == 'unasigned'">
                            <div class="sin-avatar"></div>
                        </td>
                        
                        <td *ngIf="clave.username != 'unasigned'">
                            <div [ngClass]="!clave.isDone ? 'avatar-pq' : ['avatar-pq', 'done']" (click)="openDialog(tarea, clave.taskday)">{{clave.username[0]}}</div>
                        </td>


                </ng-container>

            </tr>
            
        </ng-container>
                <!-- <td (click)="openDialog(L, tarea)" #L>

                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>
                <td (click)="openDialog(M, tarea)" #M>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(X, tarea)" #X>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(J,tarea)" #J>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(V, tarea)" #V>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(S, tarea)" #S>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>

                <td (click)="openDialog(D, tarea)" #D>
                    <div class="avatar-pq">
                        <p>{{tarea.username}}</p>
                    </div>
                </td>-->

    </table>

</div>