    <table>
        <tr>
            <th></th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
        </tr>

        <ng-container *ngFor="let tarea of tareas;">

            <tr class="tr_tareas">
                <td>{{tarea}}</td>

                <td (click)="openDialog(L, tarea)" #L><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(M, tarea)" #M><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(X, tarea)" #X><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(J, tarea)" #J><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(V, tarea)" #V><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(S, tarea)" #S><mat-icon>person</mat-icon></td>
                <td (click)="openDialog(D, tarea)" #D><mat-icon>person</mat-icon></td>
            </tr>

        </ng-container>
    </table>